/*RESPONSIVE*/

@media screen and (max-width: 1366px){
    
}

@media screen and (max-width: 1170px){
    .wp-inner{
        width: 970px;
    }
    #head-top-respon{
        display: block;
        background: #072D94;
    }
    #head-top{
        display: none;
    }
    #head-top-respon i{
        color: white;
        font-size: 35px;
    }
    #head-top-respon .logotop{
        padding: 10px 0px 0px 0px;
    }
    #head-top-respon .hrcart{
        padding: 20px 0px 0px 0px;
    }
    #head-top-respon .hruse{
        
        padding: 20px 0px 0px 0px;
    }
    #head-top-respon .hruse i{
        font-size: 28px;
    }
    #head-top-respon .hrflag{
        padding: 23px 0px 0px 0px;
    }
    #head-top-respon .hrflag img{
        width: 30px;
        height: 24px;
    }
    #head-top-respon .hrflag i{
        font-size: 19px;
    }
    #head-top-respon #btnmenu-resp{
        padding: 16px 15px 0px 15px;
    }
    #head-top-respon  li{
        margin-right: 20px;
    }
    #head-top-respon  li:last-child{
        margin-right: 0px;
    }
    #head-body{
        display: none;
    }
    #selling-product.viewnproduct li {
       min-height: 245px;
    }
    .info-tdoctor .list-info-tdoctor li {
        margin-right: 120px;
    }
    .info-tdoctor .list-info-tdoctor {
        top: 37%;
    }
    .info-tdoctor .opacty-back {
        height: 125px;
    }
    #form-search {width: 100%;}
    #form-search .form-search-inner input {height: 40px;}
    #form-search .form-search-inner img{
        width: 23px;
        height: 23px;
    }
    #form-search .form-search-inner button {height: 99%;padding-top: 7px;}
    
   #buy-medicine ul{
    justify-content: center;
   }
   #buy-medicine ul li {
        text-align: center;
        padding: 2px 20px;
        border-right: none;
        position: relative;
    }
    #buy-medicine ul li::after{
        content: "> >";
        top: 30%;
        right: -26px;
        position: absolute;
        color: blue;
        font-weight: bold;
    }
    #buy-medicine ul li:last-child::after{content: "";}
    #buy-medicine ul li span{display: none;}
    #buy-medicine ul li h2{font-size: 16px;}
    #buy-medicine .child_buy{display: block;}
    #buy-medicine .child_buy .btn-buynn{margin: 25px;}
    #buy-medicine .child_buy a{font-size: 24px;padding: 15px 30px;}
    #service-doctor li p {font-size: 18px;}
    #featured-category li{width: 23.5%;}
    #product-covid li {width: 31.93%;}
    #selling-product li {width: 31.5%;}
    #selling-product h1 p {font-size: 22px;padding-top: 10px;}
    .service-tdoctor ul{  flex-wrap: wrap;}
    .service-tdoctor li {
        border-right: 1px solid #4D6394;
        padding: 20px 70px;
        flex-basis: 48%; 
        border: none;
    }
    .service-tdoctor li:first-child {padding-left: 70px;}
    .img-customer{display: none;}
    .dlapp{display: flex;justify-content: center;}
    .dlapp1{margin-right: 15px;}
    .dlapp1 .dlapp2{display: flex;}
    .social p{display: none;}
    .social{display: flex;justify-content: space-between;}
    .social .icon-social img{
        width: 50px;
    }
    #product-covid.sellingr li {
        width: 23.6%;
        min-height: 280px;
    }
    .ipsp{
        display: none;
    }
    #selling-product .slect-customer{
        margin-left: 20px;
    }
    #selling-product .icon-product-round2 img{
        width: 30px;
    }
}

@media screen and (max-width: 1024px){
    .medical-faculty .list-medical-faculty li {
        margin-right: 4px;
    }
    
}

@media screen and (max-width: 800px){
    #selling-product .slect-customer{
        margin-left: 0px;
    }
    #selling-product .icon-product-round2 img{
        width: 30px;
    }
    #featured-category li {
        width: 48.5%;
    }
    #product-covid li {
        width: 48.5%;
    }
    #selling-product li {
        width: 48.5%;
    }
    .wp-inner{
        width: 570px;
    }
    #hisd {
        display: none;
    }
    .ipsp{
        display: block;
        position: relative;
    }
    .ipsp input{
        width: 100%;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #98FAFB;
        border-radius: 40px;
    }
    .ipsp img{
        position: absolute;
        top: 6px;
        left: 12px;
    }
    .presp{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 600px){
    .wp-inner{
        width: 500px;
    }
    
    .info-tdoctor {
        display: none;
    }
    
}

@media screen and (max-width: 414px){
    .wp-inner{
        width: 320px;
    }
   
}

@media screen and (max-width: 375px){
    .wp-inner{
        width: 300px;
    }
}