p,
label,
ul {
    margin-bottom: 0px;
}

.bg-prescrip {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
}
.fs-12{
    font-size: 12px;
}
.bg-prescrip picture img {
    width: 100%;
}

.header-prescrip h1 {
    font-weight: 500;
}

.header-prescrip {
    text-align: center;
    padding-top: 15px;
    color: #ffff;
    font-size: 20px;
    margin-bottom: 15px;
}
.container-fluid{
    max-width: 1300px;
}
.container-slider{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto; 
    max-height: 213px;
    overflow: hidden;
}
.body-prescrip {
    box-shadow: 0px 1px 4px rgb(10 10 10 / 15%);
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.prescrip-content {
    max-width: 700px;
}

/* #buy-medicine{
    margin-top: 200px;
} */
.img-footer-prescrip {
    margin-right: 15px;
}

.qprescrip {
    font-weight: 600;
}

.tcy {
    margin-bottom: 15px;
}

.header-tab {
    box-shadow: inset 0px 2px 4px rgb(4 4 4 / 15%);
    padding: 4px;
    background-color: #edf2f8;
    border-radius: 6px;
    font-weight: 500;
}

.tcy-upload-content p {
    color: #334155;
    margin-bottom: 5px;
}

.tcy-upload {
    border: 2px dashed #d8e0e8;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 15px;
}

.form-input-group .form-group {
    font-size: 18px;
    display: inline-block;
    width: 100%;
}

.input-prescrip,
.input-frontend {
    position: relative;
    display: block;
    width: 100%;
    font-family: inherit;
    padding: 7.5px 11px;
    color: #334155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e0e8;
    border-radius: 12px;
    transition: all .3s;
}

.input-prescrip:focus,
.input-frontend:focus {
    border: 1px solid blue;
    outline: none;
}

.img-search-product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.form-group.has-border .input-group {
    border: 1px solid #7991B7;
    border-radius: 10px;
}
.newsh .icon-oclock>img{
    width: 18px;
    height: 18px;
}
.newsh .wp-thumb-first>img{
    width: 100%;
    object-fit: fill;
    max-height: 380px;
}
.newsh .wp-thumb-item{
    flex: 0 1 auto;
    flex-basis: 144px;
    height: 94px;
    object-fit: cover;
    border-radius: 0.5rem;
    overflow: hidden;
}
.newsh .wp-thumb-item>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-detail-product {
    font-size: 18px;
    font-family: sans-serif;
}
#img-customer .owl-controls .owl-buttons div{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.75;
    line-height: normal;
}
#img-customer .owl-controls .owl-buttons div.owl-next {
    right: 0;
}
.content-detail-product h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 5px 0px;
}

.cat-content .list-content-product li a {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
    padding: 15px 20px;
    cursor: pointer;
    display: block;
}

.cat-content .list-content-product li a.active-ndsp {
    border-radius: 10px;
    background: #fdfdfd;
}

.cat-content {
    position: sticky;
    top: 10px;
    z-index: 100;
}

.form-group.h-35 {
    height: 35px !important;
    line-height: 35px !important;
    align-items: center;
}

.form-input-group .form-group input[type='radio'] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* ORDER */
.wp-detail-order {
    display: none;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 505;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
    border-radius: 20px;
    width: 800px;
    padding-bottom: 20px;
}

.wp-detail-order .header {
    border-bottom: 1px solid #f3f3f3;
}

.wp-detail-order .wp-content .top-tab-order {
    padding: 15px;
}

.wp-detail-order .wp-content .top-tab-order h4 {
    font-weight: 600;
}

.wp-detail-order .tab-header {
    padding: 15px;
    background-color: #edf2f8;
    box-shadow: inset 0px -1px 0px #d8e0e8;
}

.wp-detail-order .tab-header p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.wp-detail-order .tshorder {
    color: #1e293b;
    font-size: 20px;
    padding: 18px;
    font-weight: 600;
}

.table-list-order {
    box-shadow: 0 0 0 1px #d8e0e8;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px
}

.header-list-order,
.content-list-order {
    padding: 12px 20px;
    box-shadow: inset 0px -1px 0px #d8e0e8;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.wp-status-order {
    padding: 15px;
}

.wp-status-order .ls-status-order .stepper-circle {
    width: 20px;
    height: 20px;
    cursor: default;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    color: #fff;
    border-radius: 100%;
    background: #fff;
    border: 1px solid;
    border-color: #b6c0ce;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.wp-status-order .ls-status-order li:not(:last-child) {
    padding-bottom: 38px;
    position: relative;
}

.wp-content .item-info {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    margin-top: -1px;
}

.wp-content .item-info td {
    color: #718198;
}

.wp-content .item-info thead {
    padding: 15px;
    background-color: #edf2f8;
    box-shadow: inset 0px -1px 0px #d8e0e8;
}

.wp-status-order .ls-status-order li:not(:last-child)::before {
    content: "";
    position: absolute;
    box-shadow: inset 0px -1px 0px #e4eaf1;
    width: calc(100% - 28px);
    bottom: 18px;
    right: 0;
    height: 1px;
}

.wp-status-order .ls-status-order li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    z-index: 1;
    width: 2px;
    height: 100%;
    background: #d8e0e8;
}

.stepper-circle .stepper-circle-icon {
    width: 12px;
    height: 12px;
    background-color: blue;
    border-radius: 100%;
}

.stepper-circle .stepper-circle-icon-old {
    width: 12px;
    height: 12px;
    background-color: #b6c0ce;
    border-radius: 100%;
}

.wp-status-order .stepper-label {
    font-weight: 600;
    color: #52637a;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 21px;
    font-size: 16px;
}

.header-list-order p {
    font-size: 16px;
    font-weight: 600;
    color: #718198;
}

.wp-status-order .ls-status-order li:not(:last-child) {
    padding-bottom: 38px;
    position: relative;
}

.content-list-order p {
    font-size: 16px;
    color: #718198;
}

.content-list-order p a {
    color: rgb(18, 18, 233) !important;
    cursor: pointer;
}

.money-order-detail ul li {
    padding: 15px;
    color: #718198;
}

.form-group input[type='radio']+label {
    align-self: center !important;
    line-height: 20px;
}

.form-input-group .form-group .form-control,
.form-input-group .form-group .select2 {
    border: none;
    font-size: 1.25rem;
    padding: 0px;
    align-self: center !important;
}

.form-input-group .form-group .select2 {
    text-align: justify;
}

.form-input-group .form-group .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 51px;
}

.form-group .select2-container--default .select2-selection--single {
    height: 37px;
}

.form-group input:focus {
    border: 1px solid rgb(121, 175, 236);
    box-shadow: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgb(121, 175, 236);
    outline: none;
    font-size: 18px;
}

.form-input-group .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 51px;
    line-height: 51px;
    padding-left: 0px;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37px;
}

.select2-results__options {
    font-size: 1.25rem;
}

.select2-results__options li {
    padding: 10px 6px;
}

.form-input-group .form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    font-size: 1.25rem;
    height: 53px;
    line-height: 53px;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
    line-height: 34px;
}

.form-input-group .form-group .input-group {
    height: 53px;
}

.form-input-group .form-group .changeTypePassword {
    color: #0AAEE2;
    cursor: pointer;
}

.form-input-group .form-group .input-group .input-group-text {
    background-color: transparent;
    border: none;
}

.form-input-group .form-group.has-border .input-group:focus-within {
    border: 1px solid #40D1EE;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.form-input-group .form-group .form-control:focus {
    border: none;
    box-shadow: none;
}

label.error {
    font-size: 14px;
    text-align: left;
}

.input-group.has-error {
    border-color: red !important;
}

.de-store .select2 {
    width: 100% !important;
}

.form-position-relative {
    position: relative;
}

.form-position-relative .error {
    position: absolute;
    bottom: -21px;
}


/** CART **/

.icon-cart-menu {
    position: relative;
}

.icon-cart-menu:hover .dropdown-cart {
    visibility: visible;
    opacity: 1;
}

.arrow-up {
    position: absolute;
    top: -9px;
    right: 80px;
    color: white;
    font-size: 22px;
    z-index: 1000;
}

.dropdown-cart {
    box-shadow: 0 2px 12px rgb(0 0 0 / 15%);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 0px);
    right: 0;
    min-width: 400px;
    background: #fff;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    z-index: 1000;
    color: #334155;
    padding: 8px 11px;
    border-radius: 8px;
    border: 1px solid #d8e0e8;
    text-align: left;
    font-family: Roboto, Arial;
}

.noti-cart {
    padding: 5px 0px;
    border-bottom: 1px solid gainsboro;
    text-align: center;
}

.noti-cart i {
    font-size: 11px;
    border-radius: 50%;
    background: green;
    color: #fff;
    padding: 2px;
    margin-right: 4px;
}

.name_seller {
    color: green;
    font-weight: 700;
    font-size: 18px;
}

.list-cart-mini>li {
    padding: 5px 0px;
    border-bottom: 1px solid gainsboro;
}

.list-product-in-cart>li {
    padding: 5px 0px 5px 5px;
    border-top: 1px solid gainsboro;
}

.list-product-in-cart>li:first-child {
    border-top: none
}

.cart-info .name {
    text-align: justify;
    display: inline-block;
}

.cart-info .input-group-text {
    padding: 0px 5px;
    background-color: #fff;
    border: 0px;
    font-size: 0.9rem;
}

.cart-info .price-product {
    width: 40%;
}

.cart-info .total-money {
    width: calc(60% - 40px);
    justify-content: right;
}

.wp-cart-full {
    background: #fff;
    padding: 15px;
}

.thumb-img-product img {
    width: 100%;
}

.list-cart-mini .cart-info .number-product {
    max-width: 40px;
    padding: 1px;
    background-color: #fff;
    outline: none;
    font-weight: 500;
    color: #334155;
    border: 1px solid rgb(211, 203, 203);
    border-radius: 10px !important;
    font-size: 15px;
    text-align: center;
}

.item-product .in .delele-item-in-cart {
    color: #05AFE3;
    cursor: pointer;
    padding-left: 5px;
}

.btn-view-cart {
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-left-cart {
    background: #FFFFFF;
    border: 1px solid #B0C1DB;
    border-radius: 20px;
    padding-bottom: 20px;
}

.col-left-cart .title-cart h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
    text-align: center;
    color: #1E1E1E;
    margin: 0px;

}

.info-product-cart .title-cart {
    padding: 15px;
    border-bottom: 1px solid #7991B7;
}

.info-product-cart .item-product {
    border-bottom: 1px solid #7991B7;
    padding-bottom: 10px;
}

.contine_order {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: justify;
    color: blue;
}

.info-product-cart .item-product .title-product {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #05AFE3;
}

.input-group-number-product {
    width: 125px;
    margin-left: auto;
    margin-right: 0px;
}

.input-group-number-product .input-group-text {
    padding: 5px 12px;
    background: white;
    border: 1px solid #7991B7;
    height: 35px;
}

.input-group-number-product .number-product {
    width: 45px;
    padding: 2px;
    text-align: center;
    height: 35px;
    border: 1px solid #7991B7;
}

.info-product-cart .total_money {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1E1E1E;
    margin-top: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

.plus {
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.minus {
    border-radius: 20px 0px 0px 20px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

.col-right-cart {
    background: #FFFFFF;
    border: 1px solid #B0C1DB;
    border-radius: 20px;
    padding-bottom: 15px;
}

.col-right-cart .title-order {
    padding: 13px 20px;
    border-bottom: 1px solid #B0C1DB;
}

.col-right-cart .title-order h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #05AFE3;
    padding-left: 2px;
    text-align: center;
    margin-bottom: 0px;
    align-self: center;
}

.col-right-cart table {
    width: 100%;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    color: #787878;
    border-bottom: 1px solid #bbb0b0;
}

.local_drugstore {
    border: 1px solid #B0C1DB;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 3px;
}

.local_drugstore input[type="radio"] {
    margin-top: 5px;
    align-self: self-start;
}

.local_drugstore a {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #4D6394;
    border: 1px solid #B0C1DB;
    border-radius: 15px;
    padding: 4px 10px;
}

.local_drugstore a:hover {
    background: #05AFE3;
    color: white;
}

.pay-cart {
    font-size: 16px;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #B0C1DB;
    border-top: 1px solid #B0C1DB;
}

.pay-cart .titanh {
    padding-left: 50px;
}

.pay-cart .titanh h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #1E1E1E;
}

.pay-cart .titanh img {
    position: absolute;
    top: 20px;
    left: 25px;
    height: 25px;
    width: 25px;
}

.discount-code {
    padding: 20px;
    border-bottom: 1px solid #bbb0b0;
    position: relative;
}

.discount-code img {
    width: 22px;
    height: 16px;
}

.discount-code a {
    padding-left: 5px;
    font-size: 18px;
}

.discount-code small img {
    width: 16px;
    height: 16px;
}

.discount-code small span {
    font-size: 14px;
    line-height: 15px;
}

.count-store {
    background: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    width: 15px;
}

#count_store-error {
    position: absolute;
    top: 26px;
    left: 1px;
}

.delele-item-in-cart {
    cursor: pointer;
    padding: 3px;
}

.bb_order .unit-order {
    font-size: 14px;
}

/*** END CART **/
/*** PRODUCT **/
.wp-content-shorder .ls-product-search li:not(:last-child) {
    box-shadow: inset 0px -1px 0px #d8e0e8;
}

.form-search-product .wp-content {
    width: 90%;
}

.wp-content-shorder .content {
    border: 1px solid #d8e0e8;
    padding-top: 15px;
    border-top: none;
    position: relative;
    border-radius: 10px;
}

.wp-content-shorder .content .content-top-2 {
    position: absolute;
    top: -24px;
    width: 100%;
}

.ls-product-select .btn-remove,
.ls-product-select-prescrip .btn-remove,
.product-item-search .btn-add-item {
    font-size: 14px;
    line-height: 14px;
    color: #52637a;
    border: solid 1px #d8e0e8;
    border-radius: 8px;
    padding: 5px 8px;
}

.product-item-search .btn-add-item:hover,
.ls-product-select-prescrip .btn-remove:hover,
.ls-product-select .btn-remove:hover {
    color: #fff;
    background-color: #718198;
    cursor: pointer;
}

.ls-product-search .product-item-search {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.ls-product-select,
.ls-product-select-prescrip {
    display: none;
    border-radius: 12px;
    border: 1px solid #d8e0e8;
    padding: 10px;
}

.select2 {
    width: 100% !important;
}

.ls-product-select li,
.ls-product-select-prescrip li {
    padding-top: 10px;
}

.ls-product-select li:not(:last-child),
.ls-product-select-prescrip li:not(:last-child) {
    border-bottom: 1px solid #d8e0e8;
    padding-bottom: 10px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.image-prescrip {
    max-width: 206px;
    margin: auto;
}

.image-prescrip picture {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc((0.80583 * 100%) + 0px);
}

/* search */
.title-header-search {
    font-size: 20px;
    padding: 15px 0px;
}
.slect-customer {
    overflow-x: auto;
    padding-bottom: 10px;
}
.wp-search-menu {
    position: relative;
    padding-top: 20px;
    margin-left: 150px;
    width: 35%;
}
.note-video-clip{
    width:100%;
}
.form-control.number-product{
    padding: 0;
}
.price-old{
  color: #657384;
  text-decoration-line: line-through;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .02em;
  min-height: 16px;
}
.wp-search-menu form {
    position: relative;
    z-index: 502;
}
.element-input-search{
    position: relative;
    z-index: 502;
    display: flex;
    align-items: center;
}
.element-input-search .wp-input-search-simple{
    width: 100%;
    padding: 0 10px;
}
.element-input-search{
    background: white;
    border-radius: 100px;
}
.element-input-search input{
    background: white;
    min-height: 40px;
    border-radius: 100px;
}
.element-input-search .btn-search{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #c1d0f6;;
    border-color: #c1d0f6;
    color: #1250dc;
    font-weight: 500;
    height: 28px;
    width: 28px;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    border-radius: 50px !important;
}
.element-input-search .btn-search>span{
    border: 0 solid #e5e7eb;
    color: #1250dc;
}
.element-input-search .btn-search>span svg{
    width: 16px;
    height: 16px;
}
.wp-search .element-input-search{
    background: #edf0f3;
}
.form-search-inner form {
    position: relative;
    z-index: 502;
}

.input-search-small {
    border-radius: 100px 0 0 100px;
    padding: 0 8px 0 16px;
    min-height: 36px;
    position: relative;
    display: flex;
    width: 100%;
    font-family: inherit;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e0e8;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.wp-input-search input {
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}
.wp-input-search-simple input{
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}
.wp-btn-search {
    margin-left: -1px;
    z-index: 2;
}

.wp-search-menu .wp-btn-search .btn-search-home {
    background: #f59e0b;
    outline: none;
    border-radius: 0px 100px 100px 0px;
    padding: 0 28px;
    height: 100%;
}

.btn-search-respon.btn-search-home {
    background: blue;
    outline: none;
    border-radius: 0px 100px 100px 0px;
    padding: 0 28px;
    height: 100%;
}

.ls-history {
    position: absolute;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 4px rgb(10 10 10 / 15%);
    border-radius: 0px 0px 12px 12px;
    z-index: 501;
    padding-top: 18px;
    margin-top: -18px;
    display: none;
}

#box-search-fixed .ls-history {
    position: static;
    box-shadow: none;
    border-radius: 0px;
    padding-top: 0;
    margin-top: 0px;
    max-width: calc(100%);
    display: block;
}

.form-search-inner .ls-history {
    max-width: calc(100% - 89px);
}

.ls-history .title-history {
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
}

.ls-history-search {
    margin-bottom: 6px;
}

.ls-history-search li {
    padding-left: 10px;
    cursor: pointer;
}

.ls-history-search li:hover {
    background: #edf2f8;
}

.ls-history-search li a {
    color: #1E1E1E;
    padding: 4px 8px;
    display: block;
}

.line-horizontal {
    margin-left: 8px;
    flex: 1;
    height: 1px;
    background-color: #d8e0e8;
}

.title-top-keyword {
    padding-left: 10px;
    align-items: center;
}

.ls-top-keyword {
    padding: 10px;
}

.ls-top-keyword {
    display: flex;
    flex-wrap: wrap;
}

.ls-top-keyword a {
    font-weight: 400;
    font-size: 15px;
    height: 30px;
    background: #F2F8FF;
    border-radius: 12px;
    text-align: center;
    padding: 3px 5px;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 6px;
    color: #1E1E1E;
}

.ls-top-keyword a:hover {
    background: #dbe1e7;
}

.lc-mask-search {
    animation: opacity-delay 0s linear forwards 0.2s;
    z-index: 500;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 115%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.form-login .select2 {
    width: 90% !important;
}

.delete-history-keyword {
    cursor: pointer;
}

.lc-searchpost-inner {
    box-shadow: inset 0px 1px 0px #e4eaf1;
}

.icon-back-search {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #444242;
    font-size: 16px;
    padding: 2px 10px;
    cursor: pointer;
}

.wp-input.has-error .select2-container--default .select2-selection--single {
    border: 1px solid red;
}

#box-search-fixed {
    display: none;
}
.file-preview-table .filename {
    display: none;
}
.file-preview-table .filesize {
    display: none;
}
.file-preview-table .file-preview-placeholder {
    width: 200px;
    height: 100px;
}
.file-preview-shadow{
    font-size: 13px;
}
.wp-search{
    border-bottom: 1px solid #d8e0e8;
}
.wp-search h1{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.search-product{
    width: 100%;
}
.search-product .wp-search-menu{
    padding-top: 0;
    margin-left: 0;
    width: 60%;
}
.wp-search .custom-ant-input {
    font-size: 16px;
    line-height: 24px;
    color: #657384;
}
.wp-search .input-search-small {
    background: #edf0f3;
    border-radius: 100px;
}

.wp-search .wp-input-search-simple input{
    background: #edf0f3;
    min-height: 40px;
    border-radius: 100px;
}
.wp-search .wp-search-menu .wp-btn-search .btn-search-home {
    background: #afc0db80;
    border-radius: 50%;
    padding: 4px 7px;
    height: auto;
}

.wp-search .wp-search-menu .wp-btn-search .btn-search-home>img {
    width: 20px;
}
.wp-search .wp-btn-search {
    margin-left: -42px;
    align-self: center;
}
.list-alphabet .filter-product-alphabet{
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #edf0f3;
    justify-content: center;
    margin-right: 8px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.list-alphabet .filter-product-alphabet.active {
    border: 1px solid blue;
    color: blue;
    background: #eaeffa;
}
.wp-search-menu{
    position: relative;
}
.wp-list-product-short{
    position: absolute;
    top: unset;
    left: unset;
    bottom: unset;
    height: auto;
    margin-top: 0.25rem;
    width: 100%;
    overflow-x: hidden;
    z-index: 504;
    display: none;
    touch-action: none;
    border-radius: 1rem;
    box-shadow:0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}
.ls-history .wp-list-product-short{
    position: static;
    border-radius: 0;
    display: block;
}
.list-name-product li{
    cursor: pointer;
}
.list-name-product li:hover{
    background: #f6f7f9;
}
.list-name-product li>p{
    font-size: 16px;
    line-height: 20px;
}
.wp-list-product-short .title-keyword{
    background: #f6f7f9;
}
.item-product-simple{
    padding: 5px 0px;
    min-height: 48px;
    line-height: 20px;
    box-shadow: 0 1px 0 0 #e4e8ed;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination a,
.pagination span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    height: 40px;
}

.pagination a:hover,
.pagination a.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
.css-wi4pw5 {
    display: inline-block;
    vertical-align: -0.125em;
}
.css-wi4pw5 svg {
    width: 20px;
    height: 20px;
}
.css-15sc8tc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.wp-search-phone-order .d1 {
    padding: 60px 70px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0,0,0,.11);
    background-color: #fff;
    text-align: center;
    align-items: center;
    font-family: ROBOTO LIGHT;
    width: 600px;
    background: #f7f2f2;
}
.wp-search-phone-order>.d1>span {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
    margin-bottom: 25px;
    color: blue;
}
.wp-search-phone-order>div>form input {
    border: 1px solid #e0e0e0;
    border-radius: 100px!important;
    height: 48px;
    padding: 0 50px;
    font-size: 15px;
    box-sizing: border-box;
}
.wp-search-phone-order form .input-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 5;
    transform: translate(0,-50%);
    height: 21px;
}
.wp-search-phone-order form .btn {
    cursor: pointer;
    margin: auto;
    font-family: ROBOTO LIGHT;
    background-color: orangered;
    box-shadow: unset;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    max-width: 100%;
}
.wp-search-phone-order .form-group.has-border .input-group {
    border: none;
}
.info-payment-ck .box-dhtc {
    padding-top: 0; 
     padding-bottom:0;
     border-bottom: none;
}
.share-link{
    font-size: 18px;
    cursor: pointer;
}
#map-drugstore iframe{
    width: 100%!important;
    height: 300px!important;
}