p,
label,
ul {
    margin-bottom: 0px;
}
.bg-prescrip{
    position: absolute;
    top: 0px;left: 0px;z-index: -1;
}
.header-prescrip h1{
    font-weight: 500;
}
.header-prescrip{
    text-align: center;
    padding-top: 15px;
    color: #ffff;
    font-size: 20px;
    margin-bottom: 15px;
}
.body-prescrip{
    box-shadow: 0px 1px 4px rgb(10 10 10 / 15%);
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}
.prescrip-content{
    max-width: 700px;
}
.img-footer-prescrip{
    margin-right: 15px;
}
.qprescrip{
font-weight: 600;
}
.tcy{
    margin-bottom: 15px;
}
.header-tab{
    box-shadow: inset 0px 2px 4px rgb(4 4 4 / 15%);
    padding: 4px;background-color: #edf2f8 ;border-radius: 6px;font-weight: 500;
}
.tcy-upload-content p{
    color: #334155;margin-bottom: 5px;
}
.tcy-upload{
    border: 2px dashed #d8e0e8;
    box-sizing: border-box;
    padding: 15px;margin-bottom: 15px;
}
.form-input-group .form-group {
    font-size: 18px;
    display: inline-block;
    width: 100%;
}
.input-prescrip{
    position: relative;
    display: block;
    width: 100%;
    font-family: inherit;
    padding: 7.5px 11px;
    color: #334155;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8e0e8;
    border-radius: 12px;
    transition: all .3s;
}
.img-search-product{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}
.form-group.has-border .input-group {
    border: 1px solid #7991B7;
    border-radius: 10px;
}
.content-detail-product{
    font-size: 18px;
    font-family: sans-serif;
}
.cat-content .list-content-product li a{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
    padding: 15px 20px;
    cursor: pointer;
    display: block;
}
.cat-content .list-content-product li a.active-ndsp{
    border-radius: 10px;
    background: #fdfdfd;
}
.cat-content{
    position: sticky;
    top: 10px;
    z-index: 100;
}

.form-group.h-35 {
    height: 35px !important;
    line-height: 35px !important;
}

.form-input-group .form-group input[type='radio'] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.form-group input[type='radio']+label {
    align-self: center !important;
}

.form-input-group .form-group .form-control,
.form-input-group .form-group .select2 {
    border: none;
    font-size: 1.25rem;
    padding: 0px;
    align-self: center !important;
}

.form-input-group .form-group .select2 {
    text-align: justify;
}

.form-input-group .form-group .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 51px;
}

.form-input-group .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 51px;
    line-height: 51px;
    padding-left: 0px;
}

.select2-results__options {
    font-size: 1.25rem;
}

.select2-results__options li {
    padding: 10px 6px;
}

.form-input-group .form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    font-size: 1.25rem;
    height: 53px;
    line-height: 53px;
}

.form-input-group .form-group .input-group {
    height: 53px;
}

.form-input-group .form-group .changeTypePassword {
    color: #0AAEE2;
    cursor: pointer;
}

.form-input-group .form-group .input-group .input-group-text {
    background-color: transparent;
    border: none;
}

.form-input-group .form-group.has-border .input-group:focus-within {
    border: 1px solid #40D1EE;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.form-input-group .form-group .form-control:focus {
    border: none;
    box-shadow: none;
}

label.error {
    font-size: 14px;
    text-align: left;
}

.input-group.has-error {
    border-color: red !important;
}
