/* source-sans-pro */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/source-sans-pro.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/source-sans-pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/source-sans-pro.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/source-sans-pro.woff') format('woff'), /* Modern Browsers */
    url('../fonts/source-sans-pro.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/source-sans-pro.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0px;
    padding: 0px
}

.brand-link {
    text-align: center;
    padding: 0.5rem 0.5rem;
    background-color: #def3d4;
}

.brand-link .brand-image {
    float: none;
    max-height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.my-sidebar {
    background-color: #def3d4;
}

.sidebar .nav-link {
    color: #0061f2;
    padding: 0.5rem;
}

.nav-link {
    display: block;
}

.my-sidebar .has-treeview.menu-open {
    background-color: #0894D9;
}

.my-sidebar .has-treeview.menu-open>a {
    color: #ffffff !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #0894D9;
}

.my-sidebar .nav-treeview {
    background-color: #aee9e9;
}

.navbar-nav>.user-menu>.dropdown-menu {
    width: 180px;
}

.card-body>.table {
    margin-bottom: 0;
}

.table thead .row-heading th {
    background-color: #3c8dbc !important;
    color: #fff;
    vertical-align: middle;
    text-align: center;
}

form div[class*=col-]:last-child .form-group {
    margin-bottom: 0rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.my-card-pagination {
    padding: 0.5rem !important;
}

.card-body {
    padding: 1rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-group .input-group:has(.changeTypePassword) .form-group {
    border-right-width: 0px;
}

.form-group .changeTypePassword {
    color: #0AAEE2;
    cursor: pointer;
    background-color: #fff;
}