/* a {
    color:#fff;
} */

a:hover {
    text-decoration: none;
}

.topnav .navbar-brand {
    width: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.topnav {
    padding-left: 0;
    padding: 10px 0px;
    z-index: 1039;
}

#sidebar-toggle {
    outline: none;
    border: 0;
    background-color: transparent;
}
table thead{
    background:#dc35450a;
}
.plus-icon {
    font-size: 25px;
    color: #8f8f8f;
}

.nav-right {
    flex: 1;
    justify-content: space-between;
    display: flex;
}
#logo-admin{
    border-bottom: 1px solid rgb(241, 236, 236);
    padding: 5px;
    padding-left: 20px;
}
#logo-admin img{
    width: 180px;
}
#sidebar {
    width: 15rem;
    height: 100vh;
    z-index: 500;
    position: fixed;
    top: 0px;
    left: 0;
}
.header-title{
    font-size: 1.3rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
    color: #252424;
}
.form-search button{
    outline: none;
    background-color: #fff;
    border-right: none;
}
.form-search button i{
    color: gray;
}
#input-search{
    border-left: none;
}
#input-search:focus{
    box-shadow: none;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-left: none;
}
#input-search-after:focus{
    box-shadow: none;
    border: 1px solid blue;
    
}
.border-button-search{
    border: 1px solid blue;
    border-right: none;
}
/* .border-search{
    border: 1px solid blue;
} */
.card-header{
    background-color: rgba(0,0,0,.0);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.business-results{
    width: 100%;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.business-results li{
    height: 90px;
    display: flex;
    padding: 0 0 0 52px;
    align-items: center;
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
   
}
.business-results li:hover{
    background-color: #e6f5eb;
   
}
.business-results li a{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px dashed #E8EAEB;
}
.business-results li:last-child>a{
    border-right: none;
}
.business-results li .icon{
    color:rgb(109, 109, 231);
     font-size:20px;
    margin-right:10px;
    padding: 5px;
    border-radius: 70px;
    border: 1px solid;
}
.order-wait{
    display: flex;
    padding: 0px;
    list-style: none;
}
.order-wait li{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-basis: 16.5%;
    padding-top: 8px;
}
.order-wait li:hover{
    background-color: #e6f5eb;
}
.order-wait li a{
    color: unset;
    width: 100%;
    margin: 15px 0px;
    text-align: center;
    border-right: 1px dashed #E8EAEB;
    justify-content: center;
    margin: 0px;
}
.order-wait li a p{
    font-size: 0.9rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 0px;
}
.order-wait li a .icon{
    color: #0061f2;
    
}
.order-wait li a .icon i{
    width: 30px;
    border: 1px solid rgb(216, 236, 230);
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(216, 236, 230);
}
.order-wait li:last-child>a{
    border-right: none;
}
.card .card-header h6{
    font-size: 1.125rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0px;
}
#wp-content {
    flex: auto;
    /* height: calc(100vh - 58px); */
    min-height: 100vh;
    
    padding-left: 15rem;
}
.header-content{
    top: 0;
    height: 52px;
    display: flex;
    padding: 0 32px;
    z-index: 1001;
    position: sticky;
    background: #fff;
    box-shadow: 0px 2px 4px rgb(168 168 168 / 25%);
    align-items: center;
    justify-content: space-between;
}
.header-content-left{
    height: inherit;
    display: flex;
    align-items: center;
}
.item-header-content{
    cursor: pointer;
    height: 100%;
    display: flex;
    padding: 16px 13px;
    align-items: center;
}
.item-header-content p{
    margin-bottom: 0px;
}
#content {
    padding-top: 0px;
    padding-bottom: 20px;
}

#content .card-header {
    text-transform: uppercase;
}
.warehouse{
    list-style: none;
    padding-left: 0px;
}
.warehouse li{
    margin: 8px 8px;
    cursor: pointer;
    height: 72px;
    padding: 13px 12px 15px;
    position: relative;
    background: #F2F9FF;
    border-radius: 5px;
}
.nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

ul#sidebar-menu * {
    list-style: none;
    padding-left: 0;
}

#sidebar-menu {
    padding: 20px 15px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    position: relative;
}

.nav-link.active>a,
.nav-link:hover>li>a {
    color: #0061f2;
}

.nav-link>li>a>i {
    color: #787272;
    font-size: 18px;
}

.nav-link .arrow {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: rgb(13, 9, 243);
    top: 12px;
    transition: all 0.5ms ease-in-out;
}

#sidebar-menu .sub-menu {
    padding-left: 22px;
    border-left: 1px dashed #b8b8b8;
    margin-left: 6px;
    display: none;
}

#sidebar-menu .sub-menu li a {
    display: block;
    padding: 5px 0px;
}

#page-body {
    background-color: #e5e9f0;
}

.form-search {
    width: 300px;
}

.table tr td {
    vertical-align: middle;
}
table a.btn-sm{
    font-size: 12px;
    padding: 2px ;
}
.table-checkall input[type='checkbox'] {
    cursor: pointer;
}

.analytic a {
    position: relative;
    padding-right: 5px;
    margin-right: 5px;
}

.analytic a:not(:last-child):after {
    position: absolute;
    content: '|';
    top: -1px;
    right: -5px;
    color: #8c8c8c;
}
.mt-100{margin-top: 100px}body{background: #00B4DB;background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);background: linear-gradient(to right, #0083B0, #00B4DB);color: #514B64;min-height: 100vh}