.cbr {
    background: #F1F8FF;
}

.hrcart {
    position: relative;
}

.black-res-screen {
    width: 100%;
    height: 1000px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 233;
    transition: all 0.25s ease-in-out 0s;
    display: none;
}

.wp-left-cart .title-cart {
    border-bottom: 1px solid #B0C1DB;
    padding: 20px;
    text-transform: uppercase;
}

.info-product-cart table td {
    padding-right: 2px;
}

.info-product-cart .price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    text-decoration-line: line-through;
    color: #787878;
    padding-right: 30px;
    margin-bottom: 10px;
}

.info-product-cart .price-new {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #1E1E1E;
    padding-right: 30px;
    margin-bottom: 10px;
}

.info-product-cart .manipulation {
    text-align: right;
}

.info-product-cart .manipulation a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #7991B7;
}

.info-product-cart .manipulation a:hover {
    cursor: pointer;
    color: #a2c0f0;
}

.cbh1 a:hover {
    color: #05AFE3;
}

.cbh1 {
    margin-bottom: 14px;
    padding-top: 14px;
}

.info-customer-cart {
    font-size: 16px;
}

.info-customer-cart .form-check {
    display: inline-block;
    margin: 8px;
}

.info-customer-cart small {
    display: block;
    margin-top: 10px;
}

.info-customer-cart small img {
    width: 14px;
    height: 14px;
}

.info-order {
    background: #FFFFFF;
    border: 1px solid #B0C1DB;
    border-radius: 20px;
    padding-bottom: 15px;
}

.info-order .title-order {
    padding: 13px 20px;
    border-bottom: 1px solid #B0C1DB;
}

.info-order .title-order img {
    width: 33px;
    height: 33px;
}

.info-order .title-order h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    text-align: justify;
    color: #05AFE3;
    padding-left: 18px;
    text-align: center;
}

.info-order .roud-img {
    width: 30px;
    height: 30px;
    left: 0px;
}

.info-order table {
    width: 100%;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    color: #787878;
    border-bottom: 1px solid #bbb0b0;
    ;
}

.cmoder {
    padding: 16px;
    text-align: center;
    color: #787878;
}

.cmoder a {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    padding: 12px 18px;
    color: #FFFFFF;
    background: #05AFE3;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

.underline {
    text-decoration: underline;
}

.cart-null {
    width: 40vw;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 25px 0px;
}

.cart-null .title-null {
    margin-top: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: #1E1E1E;
    text-align: center;
}

.cart-null a {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    background: #05AFE3;
    color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
}

.wp-ttkh {
    background: #F1F8FF;
    border-bottom: 1px solid #B0C1DB;
}

.ttkh {
    padding: 9px 20px;
}

.ttkh img {
    width: 15px;
    height: 16px;
}

.ttkh p {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #1E1E1E;
    font-weight: 700;
}

.ttkh span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    color: #4D6394;
}

.ttdd p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #787878;
}

.ttdd span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #1E1E1E;
}

.form-check1 {
    padding-left: 1.25rem;
}

.number_cartmenu {
    position: absolute;
    top: 2px;
    left: 22px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f59e0b;
    color: #1E1E1E;
    border-radius: 100px;
    padding: 3px 8px;
    line-height: 100%;
    font-weight: bold;
}

.close-cart {
    position: absolute;
    right: -4px;
    top: -2px;
    cursor: pointer;
    display: none;
}
.wp-cart-res{
    width: 100%;
    height: 100%;
    position: relative;
}
.cbh2 {
    display: none;
    text-align: center;
    margin-top: 4px;
}

#site.fix-1vh {
    height: 100vh;
    position: fixed;
}

.complete_order {
    background: #05AFE3;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    padding: 12px 18px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

.order-noislogin {
    background: #05AFE3;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    padding: 12px 18px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

#dcshop-error {
    position: absolute;
    bottom: -27px;
    left: 0px;
}

.person {
    display: none;
}

.hidden_noreqes {
    display: none;
}

.de-store {
    display: none;
}

.chtnh {
    font-size: 18px;
}

.deleteperp {
    color: #05AFE3;
    cursor: pointer;
}

.viewcartmini {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    font-family: inherit;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 100px;
    color: #fff;
    background: #1d48ba;
    outline: none;
    font-size: 16px;
    line-height: 16px;
    padding: 0 32px;
    height: 36px;
    margin-top: 5px;
}

.viewcartmini:hover {
    color: white;
    background: #1448da;
}

.wp-order-success {
    width: 800px;
    font-size: 18px;
    margin: 0px auto;
    border: 1px solid #d3cccc;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    font-family: sans-serif;
}

.title-dhtc {
    font-size: 20px;
    font-weight: bold;
}

.icon-order-success {
    font-size: 22px;
    background: #97f50794;
    ;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.icon-order-success {
    font-size: 30px;
    color: #343232;
}

.icon-order-success i {
    color: green;
}

.box-dhtc {
    padding-top: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3cccc;
}

.title-info-order {
    padding: 10px 0px;
    background: #F1F8FF;
}

.title-info-order h1 {
    font-weight: bold;
}

.pd-order {
    padding: 0px 0.75rem 0px 0.75rem;
    margin: 0px;
}

.bb_order {
    border-bottom: 1px solid #e3d5d587;
}

.search-ttdh {
    color: #fff;
    background: blue;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}

.exit-home-order {
    display: inline-block;
    color: #fff;
    background: blue;
    padding: 5px 15px;
    border-radius: 20px;
}

.exit-home-order:hover {
    color: #FFFFFF;
}

.namep-order {
    font-size: 15px;
    font-weight: bold;
}