/*FOOTER*/
#footer-wp h1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1E1E1E;
    text-transform: uppercase;
}
#footer-wp p{
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    margin-bottom: 20px;
}
#footer-wp .social p{
    margin-bottom:0px;
    margin-left: 6px;
    line-height: 20px;
}



