#footer-wp h1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1E1E1E;
    text-transform: uppercase;
}
#footer-wp p{
    font-weight: 400;
    font-size: 16px;
    line-height: 5px;
    margin-bottom: 25px;
}
#footer-wp .social>div{
    margin-bottom:10px;
}
#footer-wp .social p{
    margin-bottom:0px;
    margin-left: 10px;
    line-height: 20px;
    align-self: center;
}
#footer-wp .social2 p{
    margin-bottom:0px;
    margin-left: 10px;
    line-height: 20px;
}

label.error{
    color: red;float: left;
}


