/*GLOBAL*/
body{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: normal;
    color: #272727;
    line-height: 24px;
}
.container-menures{padding: 0px 14px;}
#site{
    overflow: hidden;
}
ul li{
    list-style: none;
}
ul{
    padding: 0px;
}
.wp-inner1{max-width: 1400px;margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;}
.wp-inner{
    max-width: 1300px;
    margin: 0px auto;
    padding-left: 12px;
    padding-right: 12px;
}
img {
    max-width: 100%;
    height: auto;
}
.fl-left{ float: left;}
.fl-right{ float: right;}
a:hover{
    text-decoration: none;
}
.text-orange{
    color: #DB8107;
}
.bg-orange{
    background: #DB8107;
}
.roud-img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B0C1DB;
    position: absolute;
    top: 50%;
    left: -60px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.roud25b-img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05AFE3;
    border-radius: 50%;margin-right: 6px;
}
.roud25y-img{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFCC00;
    border-radius: 50%;margin-right: 6px;
}

.roud1-img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B0C1DB;
    border-radius: 50%;
}
.roud1-img1{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    border-radius: 50%;
}
.icon-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rimg-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-60{
    width: 60px;margin-right: 3px;
}
.image-60{
    width: 75px;
    height: 100px;
    padding: 5px;
}
.image-60 img{
    width: 100%;
}
.img-50{
    width: 50px;margin-right: 5px;
}
.rimg-startm{
    display: flex;
    justify-content: start;
    align-items: center;
}
.rimg-centerw{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 40px;height: 40px;
    border-radius: 50%;overflow: hidden;
}
.rimg-centerx{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    width: 40px;height: 40px;
    border-radius: 50%;overflow: hidden;
}
.rimg-center5{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    width: 50px;height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.rimg-center4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
    overflow: hidden;
}
.seth-img{
    height: 200px;padding: 5px;
}
.rimg-start{
    display: flex;
    justify-content: center;
    align-items:baseline;
}
.black-screen {
    width: 100%;
    height: 10000px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 233;
    transition: all 0.25s ease-in-out;
    display: none;
}
#fixscreen-respon{
    position: absolute;
    width: 100vw;height: 10000px;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;left: 0px;z-index:900;display: none;

}

.fixed-body{
    position:fixed;top:0px;left:0px;width: 100%;
}
.fixed-hbd{
    height: 1200px;
    overflow: hidden;
}
.truncate2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
}

