/*GLOBAL*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: normal;
    color: #201e1ee6;
    line-height: 24px;
    
}
.container-menures{padding: 0px 14px;}
.wp-10{
    width: 10%;
}
.wp-20{
    width: 20%;
}
.wp-25{
    width: 25%;
}
.wp-33{
    width: 33%;
}
.wp-40{
    width: 40%;
}
.wp-50{
    width: 50%;
}
.wp-70{
    width: 70%;
}
.wp-100{
    width: 100%;
}
.f-w-600{
    font-weight: 600;
}
.border-r-1000{
    border-radius: 1000px;
}
.border-r-10{
    border-radius: 10px;
}
.pd-left-40{
    padding-left: 40px!important;
}
.fix1screen{
    height: 100vh;width: 100%;
    position: fixed;z-index: 1000;top: 0px;
    display: none;
}

.btn-form-submit{
    padding: 0 25px;
    height: 45px;
    color: #fff;
    background: #1d48ba;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
    font-family: inherit;
    border-radius: 50px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
}
.seth-img-100{
    height: 100px;
    display: flex;
    justify-content: center;
}
.h-60{
    height: 60%;
}
ul li{
    list-style: none;
}
ul{
    padding: 0px;
}
.wp-inner1{max-width: 1400px;margin: 0px auto;
    padding-left: 10px;
    padding-right: 10px;}
.wp-inner{
    max-width: 1300px;
    margin: 0px auto;
    padding-left: 12px;
    padding-right: 12px;
}
img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.fl-left{ float: left;}
.fl-right{ float: right;}
a:hover{
    text-decoration: none;
}
.text-orange{
    color: #DB8107;
}
.bg-orange{
    background: #DB8107;
}
.roud-img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B0C1DB;
    position: absolute;
    top: 50%;
    left: -60px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.roud25b-img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05AFE3;
    border-radius: 50%;margin-right: 6px;
}
.rdimg{
    height: 170px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roud25y-img{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFCC00;
    border-radius: 50%;margin-right: 6px;
}
.img-around-180{
    overflow: hidden;
    width: 100%;
    padding:10px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roud1-img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B0C1DB;
    border-radius: 50%;
}
.roud1-img1{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    border-radius: 50%;
}

.icon-social{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 20px;
}
.rimg-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rimg-center1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.img-60{
    width: 60px;margin-right: 3px;
}
.image-60{
    width: 75px;
    height: 100px;
    padding: 5px;
}
.image-60 img{
    width: 100%;
}
.img-50{
    width: 50px;margin-right: 5px;
}
.rimg-startm{
    display: flex;
    justify-content: start;
    align-items: center;
}
.rimg-centerw{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 40px;height: 40px;
    border-radius: 50%;overflow: hidden;padding: 4px;
}
.rimg-centerx{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    width: 40px;height: 40px;
    border-radius: 50%;overflow: hidden;
    padding: 4px;
}
.set-linehname{
    line-height: 12px;
}
.rimg-center5{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    width: 50px;height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;margin-right: 3px;
}
.rimg-center4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    
    overflow: hidden;
}
.seth-img{
    height: 200px;
    overflow: hidden;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rimg-start{
    display: flex;
    justify-content: center;
    align-items:baseline;
}
.black-screen {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 503;
    transition: all 0.25s ease-in-out;
    display: none;
}
#fixscreen-respon{
    position: absolute;
    width: 100vw;height: 10000px;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;left: 0px;z-index:900;display: none;

}

.fixed-body{
    position:fixed;top:0px;left:0px;width: 100%;
}
.fixed-hbd{
    height: 1400px;
    overflow: hidden;
}
.truncate2 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
}
.truncate1 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
}
.truncate3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
}
