/*GLOBAL*/
body{
    font-family: 'Helvetica Neue';
    font-size: 14px;
    line-height: normal;
    color: #272727;
    line-height: 24px;
}
#site{
    overflow: hidden;
}
.wp-inner1{max-width: 1400px;margin: 0px auto;
    padding-left: 12px;
    padding-right: 12px;}
.wp-inner{
    max-width: 1300px;
    margin: 0px auto;
    padding-left: 12px;
    padding-right: 12px;
}
img {
    max-width: 100%;
    height: auto;
}
.fl-left{ float: left;}
.fl-right{ float: right;}
a:hover{
    text-decoration: none;
}
.text-orange{
    color: #DB8107;
}
.bg-orange{
    background: #DB8107;
}
.roud-img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B0C1DB;
    position: absolute;
    top: 50%;
    left: -60px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.roud1-img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B0C1DB;
    border-radius: 50%;
}
.icon-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rimg-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rimg-centerw{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 40px;height: 40px;
    border-radius: 50%;overflow: hidden;
}
.rimg-centerx{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    width: 40px;height: 40px;
    border-radius: 50%;overflow: hidden;
}
.rimg-center5{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F8FF;
    width: 50px;height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.rimg-start{
    display: flex;
    justify-content: center;
    align-items:baseline;
}
.black-screen {
    width: 100%;
    height: 10000px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 233;
    transition: all 0.25s ease-in-out;
    display: none;
}

.fixed-body{
    position:fixed;top:0px;left:0px;width: 100%;
}
.fixed-hbd{
    height: 1000px;
    overflow: hidden;
}

