/*HEADER*/

#head-body-respon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90vw;
    z-index: 10000;
    padding-bottom: 20px;
    background: #F1F8FF;
    transition: all 0.5s ease-in-out;
    display: none;
}

.tlogo-menu .rimg-startm img {
    width: 125px;
}

#head-body-respon .tlogo-menu {
    background: #072D94;
    padding: 10px;
}

#head-body-respon .submenu1res {
    background: #F1F8FF;
    border-radius: 10px;
    padding: 6px 0px;
    display: none;
    transition: all 1s ease-in-out;
}

#head-body-respon .submenu1res.display-vis {
    display: block;
    margin-bottom: 10px;
}

#head-body-respon .submenu1res ul li a {
    display: block;
    padding: 4px 13px;
}

#head-body-respon .submenu1res ul li:hover {
    background: #eaf3fc;
}

#btnmenu-resp {
    cursor: pointer;
}

#head-body-respon .btn-advice {
    padding: 20px 20px;
    background: #F1F8FF;
}

#head-body-respon .btn-advice .btn-refree {
    background: #06AFE3;
    border-radius: 100px;
    display: inline-block;
    padding: 5px 8px;
    color: white;
}

#head-body-respon .iconmnrhv {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: all 1ms ease-in-out;
}

.list-menures>ul>li {
    border-bottom: 1px solid #B0C1DB;
}

.list-menures>ul li:last-child {
    border-bottom: none;
}

#head-body-respon .list-menures {
    padding: 0px 10px;
}

#head-body-respon .list-menures a {
    padding: 6px 6px;
    display: block;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1E1E1E;
    position: relative;
}

#head-body-respon .list-menures .iconmnrhv img {
    width: 12px;
    display: block;
}

#head-body-respon .list-menures .iconmnrhv.arrow-rotate {
    transform: rotate(-180deg);
    top: 17px;
}

.display-vis {
    display: block;
}

#head-body-respon .list-menures h3 {
    border-bottom: 1px solid #B0C1DB;
    font-style: normal;
}

#head-body-respon .list-menures h3 a {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #05AFE3;
}

#head-body-respon .body-responhoder {
    border-bottom: 5px solid #F1F8FF;
    background: #FFFFFF;
    padding: 6px 0px;
}

.tlogo-menu .closem {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
}

.container-menures .rimg-center img {
    width: 20px;
}

.container-menures h2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #05AFE3;
    margin-left: 10px;margin-bottom: 0px;
}

.head_topon_reponsive {
    display: none;
}

.list-menures {
    background: #FFFFFF;
}

.head_topon {
    background-image: url(../../images/shop/headbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px 0px;
}

.head-top-respon .presp ul {
    width: 25%;
}

.wp-iconmn {
    padding: 10px 2px;
}

.head_topon p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #E9202C;
    margin-left: 15px;
    margin-right: 15px;align-self: center;
}

.head_topon a {
    padding: 5px 10px;
    background: #072D94;
    border-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Helvetica Neue';
}

#head-top {
    background: #072D94;
}

#head-top p {
    font-size: 16px;
}

#head-top a div.btn-login {
    color: black;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid #072D94;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#head-top a>div.btn-register {
    color: white;
    background-color: #DB2925;
    padding: 5px 20px;
    border: 1px solid #DB2925;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#head-top #main-menu li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
}

#head-top #main-menu li {
    float: left;
}

#head-top #payment-link {
    position: relative;
    display: block;
    color: #fff;
    padding: 10px 0px 10px 0px;
}

#menu-top1 {
    position: relative;
}

#head-body {
    background: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}


/* .sub-menu1 {
    border-radius: 20px 20px 20px 20px;
    background: #FFFFFF;
    padding-bottom: 15px;
} */

/* .sub-menu2 {
    padding: 10px 20px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 300%;
    z-index: 10000;
    display: none;
} */

/* .sub-menu1>li:hover .sub-menu2 {
    display: block;
} */

#head-body #main-menu>li>a {
    color: #313544d4;
    text-transform: uppercase;
    padding: 15px 17px 15px 0px;
    display: block;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

#head-body #main-menu>li:first-child>a {
    padding-left: 0px;
}

.flag img {
    width: 31px;
    height: 21px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.flag p {
    font-size: 16px;
}

#dropdownMenuButton.btn:focus {
    box-shadow: none;
}

#main-menu>li {
    padding-right: 16px;
}

#main-menu>li:last-child {
    padding-right: 0px;
}

#main-menu>li>a::after {
    content: "";
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 5px;
    background: #E9212D;
    position: absolute;
    transition: .25s;
    display: none;
}

#main-menu>li:hover>a::after {
    display: block;
}

#main-menu li.catc1:hover>.content-submenu {
    display: block;
}

#main-menu .catc1 .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
    font-size: 10px;
}

.content-submenu .cat_detail .body_catdetail li .item_cat4 {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 50px;
    transition: all 0.25ms ease-in-out;
    padding: 4px 4px 4px 8px;
    border-radius: 30px;
}

.body_catdetail>li {
    width: 24.25%;
    float: left;
    margin-bottom: 1%;
    margin-right: 1%;
}

.body_catdetail>li:nth-child(4n) {
    margin-right: 0px;
}

.content-submenu .cat_detail .body_catdetail li .item_cat4 {
    transition: all 0.1s ease-in-out;
    border: 1px solid #FFFFFF;
}

.content-submenu .cat_detail .body_catdetail li .item_cat4:hover {
    border: 1px solid #05AFE3;
}

.content-submenu .cat_detail ul.body_catdetail {
    border-bottom: 1px solid #B0C1DB;
}

.content-submenu {
    transition: all 0.5s ease-in-out;
}

#head-body .menu-top1 {
    flex-basis: 90%;
}

.sub-menu1 .himg-menu .titlec2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1E1E1E;
    padding: 20px 20px;
    display: block;
}


/* .sub-menu1>li:hover{
    background: #F1F8FF;

} */

.active-menucat2 {
    background: #F1F8FF;
}

.content-submenu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 100;
    border-radius: 0px 0px 20px 20px;
    background: #FFFFFF;
    width: 100%;
    display: none;
}


/* .himg-menu .rdimg {
    position: absolute;
    top: 6px;
    left: 14px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 100966;
} */

.content-submenu-right {
    background: #F1F8FF;
    border-radius: 0px 0px 20px 0px;
}

.right-fol {
    padding-bottom: 18px;
}

#productimenu .bimgm {
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #7991B7;
    border-radius: 10px;
}

#productimenu a {
    color: #111111;
    font-size: 14px;
}

#productimenu h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #05AFE3;
}

.form-login {
    width: 640px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 901;
    transform: translateX(-50%);
    padding-bottom: 25px;
    display: none;
}

.form-login .wp-content {
    width: 80%;
}

.form-login .header {
    margin-bottom: 16px;
}

.form-login .header a {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #05AFE3;
    display: inline-block;
    padding: 19px;
}

.btn-closenk {
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    background: #F3F3F3;
    border-radius: 0px 20px 0px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-closenk:hover {
    background: #eee9e9;
}

.btn-closenk img {
    width: 28px;
    height: 28px;
}

.form-login .header .titlek {
    flex-basis: 50%;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 20px 0px 0px 0px;
    transition: all 0.1s ease-in-out;
}

.form-login .header .titlen {
    flex-grow: 1;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.form-login .content .phone-mail,
.form-login .content .password {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.phone-mail input,
.form-login .content .password input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    text-indent: 50px;
    font-size: 20px;
    border: 1px solid #7991B7;
}

.phone-mail input:focus {
    border: 1px solid #40D1EE;
}

.phone-mail .img-person {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 25px;
}

.form-login .content .password .imgk {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 18px;
    height: 25px;
}

.form-login .content .password .imgm {
    position: absolute;
    top: 26px;
    right: 24px;
    width: 20px;
    height: 12px;
    cursor: pointer;
}

.form-login .content .qpassword a {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #05AFE3;
    cursor: pointer;
}

.form-login .remember-login {
    margin-top: 5px;
    margin-bottom: 15px;
    align-items: center;
}
#user_login{
    margin-bottom: 30px;
}
.form-login .remember-login input {
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.form-login .remember-login label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    color: #000000;
}

.form-login #btn-logint {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #05AFE3;
    border-radius: 25px;
    border: none;
    padding: 13px 48px;
}

#dang-ky #btn-register {
    background: #96d4e7;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 25px;
    border: none;
    padding: 13px 48px;
}

.form-login .dkfn p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #000000;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    border: 1px solid #7991B7;
}

.form-login input:focus {
    border: 1px solid #40D1EE;
}

.form-login input[type="password"]:focus {
    border: 1px solid #40D1EE;
}

.form-login .dkfn a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #05AFE3;
    cursor: pointer;
}

.form-login .header .titlen.active-formkn,
.form-login .header .titlek.active-formkn {
    background: #05AFE3;
    color: #FFFFFF;
}

.wp-content-login {
    display: none;
}

.form-login .slectdk select {
    height: 60px;
    text-indent: 50px;
    border: 1px solid #7991B7;
    padding: 0px;
    box-shadow: none;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1E1E1E;
    border-radius: 10px;
    ;
}

.form-login .slectdk select:focus {
    border: 1px solid #40D1EE;
}

.form-login .slectnkb input.form-check-input {
    border: 1px solid #1E1E1E;
    width: 20px;
    height: 20px;
    margin-top: 0px;
}

.form-login .slectnkb label {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1E1E1E;
    margin-left: 10px;
    margin-bottom: 15px;
}

.form-login .dkgp {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

.form-login .wp-content-forgetpw {
    display: none;
}

#search-order .tshorder {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 40px;
}
.form-search-product .tshorder {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 40px;
}
.search-history-order {
    cursor: pointer;
}

#search-order {
    display: none;
    position: absolute;
    top: 100px;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 300;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 640px;
    padding-bottom: 20px;
}
.form-search-product {
    display: none;
    position: absolute;
    top: 0px;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 300;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 640px;
    padding-bottom: 20px;
}
.nsdt {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 20px;
}

#search-order .header {
    border-bottom: 1px solid #CBDCFA;
    margin-bottom: 23px;
}
.form-search-product .header {
    border-bottom: 1px solid #CBDCFA;
    margin-bottom: 15px;
}
.form-search-product .btn-closenk {
    width: 50px;
    height: 50px;
}
#search-order .wp-content {
    width: 80%;
}
.form-search-product .wp-content {
    width: 90%;
}
#btn-forget,
#btn-searchorder {
    background: #05AFE3;
    border-radius: 20px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 10px 30px;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin-top: 20px;
}


/* .right-fol {
    min-height: 520px;
} */

.bimgm {
    box-sizing: border-box;
    border-radius: 14.1538px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d8e0e8;
    padding: 2px 4px;
    height: 180px;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.bimgm a {
    display: block;
}

.productimenu li:hover .bimgm {
    border: 1px solid rgb(76, 76, 243);
}

.productimenu li a {
    color: #334155;
    font-size: 16px;
}

.productimenu li h3 {
    color: #072d94;
    font-size: 18px;
}