/*HEADER*/

.head_topon {
    background-image: url(../../images/shop/headbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.head_topon p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #E9202C;
    padding-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.head_topon a {
    padding: 5px 10px;
    background: #072D94;
    border-radius: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Helvetica Neue';
}

#head-top {
    background: #072D94;
}

#head-top p {
    font-size: 16px;
}

#head-top .btn-login {
    color: black;
    background-color: white;
    padding: 2px 8px;
    border: 1px solid #072D94;
    border-radius: 20px;
    font-weight: bold;
}

#head-top .btn-register {
    color: white;
    background-color: #DB2925;
    padding: 2px 14px;
    border: 1px solid #DB2925;
    border-radius: 20px;
    font-weight: bold;
}

#head-top #main-menu li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
}

#head-top #main-menu li {
    float: left;
}

#head-top #payment-link {
    position: relative;
    display: block;
    color: #fff;
    padding: 10px 0px 10px 0px;
}

#head-body {
    background: white;
    box-shadow: 0px 2px 4px 3px rgb(168 168 168 / 25%);
}

#head-body #main-menu li {
    /* padding-top: 3px; */
}

#head-body #main-menu a {
    font-size: 13px;
    font-weight: bold;
    color: #111111;
    text-transform: uppercase;
}


/* end */