/*MAIN CONTENT*/

#main-content-wp {
    padding-bottom: 75px;
}
#hisd{
    position: relative;
    margin-bottom: 150px;
}
#form-search {
    width: 87%;
    padding-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    position: absolute;
    top: -120px;
}

#form-search .form-search-inner {
    width: 80%;
}

#form-search .form-search-inner h1 {
    color: #1E1E1E;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding: 15px 0px;
}

#form-search .form-search-inner h2 {
    color: #1E1E1E;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    padding: 15px 0px;
}

#form-search .form-search-inner input {
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #98FAFB;
    outline: none;
    border-radius: 40px;
    font-size: 20px;
    text-indent: 25px;
}
#form-search .form-search-inner input:focus {
    border: 1px solid #83dddf;
}
#form-search .form-search-inner li {
    font-weight: 400;
    font-size: 15px;
    height: 30px;
    background: #F2F8FF;
    border-radius: 25px;
    text-align: center;
    padding: 3px 8px;
}

#head-top-respon {
    display: none;
}

#form-search .form-search-inner li:last-child {
    margin-right: 0px;
}

#form-search .form-search-inner button {
    position: absolute;
    width: 10%;
    height: 46px;
    right: 0px;
    top: 0px;
    border: 1px solid #05AFE3;
    outline: none;
    background: #05AFE3;
    border-radius: 0px 40px 40px 0px;
}
#form-search .form-search-inner button:hover{
    background: #2ca3e7;
    border: 1px solid #2ca3e7;
}
#form-search .form-search-inner button img{
    width: 25px;
}
#form-search .form-search-inner button i {
    color: white;
    font-size: 25px;
}

#service-doctor {
    margin-top: 30px;
}

#service-doctor li a {
    color: #1B1D2C;
}
#service-doctor .list_servicetdoctor{
    flex-wrap: wrap;
}
#service-doctor .list_servicetdoctor li {
    padding: 30px 15px;
    width: 15%;
    background: #F7FAFF;
    border: 1px solid #F7FAFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

#service-doctor li p {
    padding-top: 15px;
    line-height: 20px;
    font-size: 20px;
    font-family: 'Roboto';
}

#service-doctor li img {
    width: 100px;
}

#buy-medicine h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #1E1E1E;
    margin-bottom: 40px;
}

#buy-medicine h2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #375FBE;
    padding-top: 45px;
}

#buy-medicine ul li {
    flex-basis: 33%;
    text-align: center;
    border-right: 2px solid #D9D9D9;
}


#buy-medicine ul li:last-child {
    border: none;
    padding-right: 0px;
}

#buy-medicine span {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1E1E1E;
}

#buy-medicine ul li img {
    width: 120px;
}

#buy-medicine .btn-buynn {
    margin-right: 30px;
}

#buy-medicine .child_buy {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social p {
    display: block;
}

#buy-medicine .btn-buynn a {
    background: #072D94;
    border-radius: 30px;
    text-align: center;
    padding: 5px 10px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#buy-medicine div span {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #072D94;
}

#featured-category h1 {
    font-size: 32px;
}

#featured-category h2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1E1E1E;
}

#featured-category p {
    margin-top: 5px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: black;
}

#featured-category li {
    float: left;
    width: 15.83%;
    height: 210px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 25px 3px;
    background: #F1F8FF;
    border: 1px solid #F1F8FF;
    border-radius: 10px;
}

#featured-category li:nth-child(even) {
    background: #FFFBEA;
}
#featured-category li:nth-child(6n) {
    margin-right: 0px;
}
#product-covid {
    background-color: #072D94;
}

#product-covid h1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 30px;
}

#product-covid li {
    float: left;
    width: 15.26%;
    height: 280px;
    margin-right: 1.4%;
    margin-bottom: 1%;
    padding: 25px 3px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

#selling-product h1 p {
    font-size: 25px;
}

#selling-product li {
    float: left;
    width: 19.2%;
    height: 330px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 25px 3px;
    background: #fff;
    border: 1px solid #787878;
    border-radius: 10px;
    overflow: hidden;
}
#selling-product li:nth-child(5n){
    margin-right: 0px;
}
#selling-product li:hover {
    border: 1px solid #05AFE3;
}

#selling-product li p {
    color: #1E1E1E;
}
.social img{width: 25px;}
#selling-product li .unit-top {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px 8px;
    background-color: #05AFE3;
    color: white;
    border: 1px solid #05AFE3;
    border-radius: 12px;
    z-index: 100;
}

#selling-product .icon-product-round {
    border-radius: 50%;
    background-color: #05AFE3;
    width: 30px;height: 30px;
    display: flex;justify-content: center;align-items: center;
    margin-right: 10px;
    padding: 4px;
}
#selling-product .icon-product-round img{
    width: 18px;
}
#selling-product .icon-product-round2 img {
    width: 40px;
}
.icon-product-round2{
    padding-top: 0px;
}
#selling-product .slect-customer {
    font-size: 16px;
    margin-left: 185px;
    padding: 9px 0px 7px 27px;
}

#selling-product .slect-customer span {
    padding: 3px 5px;
    font-size: 18px;
}

#selling-product .slect-customer .slect-item-customer:first-child {
    margin-left: 20px;
}

#selling-product .slect-customer .slect-item-customer:last-child {
    margin-right: 0px;
}

#selling-product .slect-customer .slect-item-customer {
    border: 1px solid #d8e0e8;
    border-radius: 20px;
    padding: 3px 10px;
    margin-right: 20px;cursor: pointer;
    transition: all 0.5ms ease-in-out;
}

#selling-product .slect-customer .slect-item-customer a {
    color: #718198;
}
#selling-product .slect-customer .slect-item-customer:hover{
    background: #718198;  
}
#selling-product .slect-customer .slect-item-customer:hover a{
    color: #fff;
}
#selling-product .slect-customer .slect-item-customer.active-slect {
    border: 1px solid #05AFE3;
    background-color: #05AFE3;cursor: pointer;
}

#selling-product .slect-customer .slect-item-customer.active-slect a {
    color: white;
}

#qadoctor {
    padding: 10px 0px;
    background: #F5F7FA;
}

#qadoctor .mesqa {
    height: 615px;
    overflow: hidden;
}

.bg-blur {
    background: linear-gradient(to bottom, rgba(255 255 255/0), rgba(255 255 255/62.5), rgba(255 255 255/1));
    bottom: -12px;
    height: 182px;
    left: 0;
    position: absolute;
    width: 100%;
}

#qadoctor h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0089D8;
}

#qadoctor .qcustomer {
    background-color: #fff;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 24.4%;
    margin-top: 10px;
}

#qadoctor .qcustomer .q-content {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px;
}

#qadoctor .qcustomer .a-doctor .img-person {
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    border-radius: 50%;
    padding: 8px 10px 5px 10px;
    margin-right: 15px;
    width: 44px;
    height: 44px;
}

#qadoctor .qcustomer .a-doctor .name-doctor {
    font-size: 18px;
    font-weight: 600;
}

.medical-faculty .lage-font {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    color: #1479FF;
}

.medical-faculty .list-medical-faculty li {
    float: left;
    margin-right: 13px;
}

.medical-faculty .list-medical-faculty li .title-medical-faculty {
    position: absolute;
    bottom: 9px;
    left: 0px;
    font-size: 14px;
    color: #fff;
    padding: 3px 1px;
    text-align: center;
    background: #000000;
    opacity: 0.3;
    width: 100%;line-height: 13px;
    border-radius: 5px;
}

#qadoctor .setq {
    display: block;
    background: #06AFE3;
    border: 1px solid #06AFE3;
    border-radius: 25px;
    color: #fff;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 10px 20px;
    margin-right: 100px;
}

#qadoctor .listq {
    background: #FFFFFF;
    border: 1px solid #06AFE3;
    border-radius: 25px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #06AFE3;
    padding: 10px 30px;
}
.medical-faculty .list-medical-faculty li a{display: block;}
#qadoctor .wp-inner .chatq {
    position: absolute;
    bottom: 3px;
}

.newsh .title-news {
    margin-bottom: 20px;
}
.newsh .title-news img{
    width: 35px;height: 35px;
}
.newsh .title-news h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 5px;
    margin-left: 20px;
}

.newsh p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
    margin-bottom: 10px;
}

.newsh .news-content-right {
    background: #F5FAFE;
    border-radius: 10px;
    border: 1px solid #B0C1DB;
}

.newsh .news-known a {
    display: block;
    background: #F1F8FF;
    border: 1px solid #F1F8FF;
    border-radius: 5px;
    padding: 3px 8px;
    margin-right: 15px;
}

.newsh .news-content-left li {
    margin-bottom: 10px;;
}
.social2 img{width: 20px;}
.newsh .news-content-left li:last-child {
    margin-bottom: 0px;
}

.newsh .news-content-left li .title-new-left {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
}

.news-content-right a {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
}
.info-tdoctor {
    position: relative;
    overflow: hidden;
    padding: 6rem 0;
    color: #fff;
}
.list-info-tdoctor p{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    padding-bottom: 5px;
}
.list-info-tdoctor span{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.info-tdoctor:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #05afe3;
    opacity: 0.5;
}
.info-tdoctor:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../../images/shop/info-tdoctor.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


.info-app h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #0089D8;
}

.info-app li {
    padding: 0px 5px;
}

.info-app .item-info-app {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.service-tdoctor {
    background: #F5FAFE;
    padding: 20px 0px;
}

.service-tdoctor li {
    border-right: 1px solid #4D6394;
    padding: 10px 29px;
}

.service-tdoctor li:first-child {
    padding-left: 0px;
}

.service-tdoctor li:last-child {
    padding-right: 0px;
    border-right: none;
}

.service-tdoctor .title-service {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #072C94;
    margin-left: 15px;
}
.service-tdoctor .title-service h1{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
}
.service-tdoctor .title-service  h2{align-items: center;display: flex;}
.local {
    background-color: #05AFE3;
    padding: 10px 0px;
}
.newsh .news-content-left{
    padding-left: 10px;
}
.nctright{
    padding-left: 10px;
}
.local p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 15px;
    padding-top: 0px;display: flex;align-items: center;
}

.local .list-drugstore {
    background-color: #fff;
    padding: 8px 14px;
    border-radius: 20px;
}
.local .list-drugstore:hover{
    background-color: #0bc6ff;color: white;
}

.local .list-drugstore a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #05AFE3;
}
.local .list-drugstore:hover a{
    color: white;
}
.local img{
    width: 25px;
    height: 35px;
}
.feedback-customer h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0089D8;
}

.feedback-customer h2 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.dlapp {
    background: #F1F8FF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
}
.black-content{
    position: absolute;
    width: 100%;
    height: 10000px;
    background: black;
    left: 0px;
    top: 100%;
    z-index: 88;
    opacity: 0.7;
    transition: all 0.25s ease-in-out;
    display: none;
}

/* end */

.main-content {
    width: 75%;
    margin-left: 2%;
}
/* #category-product-wp .list-item {
    background: #fff;
}

#category-product-wp .list-item li a {
    display: block;
    padding: 10px 18px;
}
#category-product-wp .list-item > li:first-child > a{padding-left: 3px;}
#category-product-wp .list-item li:last-child a {
    border-bottom: none;
}
#category-product-wp .list-item>li:hover{
    border-bottom: 5px solid #E9212D;
    z-index: 1;
}
#category-product-wp .list-item .sub-menu>li:hover>a {
    background: #F1F8FF;
    
}
.sub-menu1{
    position: relative;
}
#category-product-wp .list-item>li{ position: relative;}
#category-product-wp .list-item li .arrow{
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    color: #666;
    font-size: 12px;
}
#category-product-wp .list-item li .sub-menu{
    display: none; 
    position: absolute;
    left: 0;
    top: 112%;
    width: 300px;
    z-index: -1;
    border: 1px solid #ececec;
    background: #fff;
    border-radius: 0px 0px 0px 20px;
    height: 500px;
}
#category-product-wp .list-item li li .sub-menu{
    left: 100%;
    top: 0px;
    width: 800px;
    z-index: -1;
    background: #F1F8FF;
    border-radius: 0px 0px 20px 0px;
}
#category-product-wp .list-item li:hover > .sub-menu{ display: block;} */

#list-product-wp .section-detail .list-item li {
    float: left;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    background: #fff;
    padding: 10px 10px 30px 10px;
    border: 1px solid transparent;
}

#qadoctor .qcustomer .q-content img {
    width: 100%;
}

#feature-product-wp .section-detail .list-item li {
    border: 1px solid transparent;
}

#list-product-wp .section-detail .list-item li:hover,
#feature-product-wp .section-detail .list-item li:hover {
    border: 1px solid #ddd;
}

#list-product-wp .section-detail .list-item li:nth-child(4n) {
    margin-right: 0!important;
}

#buy-medicine ul {
    justify-content: space-between;
}

.circle-ripple {
    background-color: #f53c3c;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: ripple 2s linear infinite;
    display: inline-block;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.3), 0 0 0 0.1em rgba(239, 68, 68, 0.3), 0 0 0 0.5em rgba(239, 68, 68, 0.3), 0 0 0 1em rgba(239, 68, 68, 0.3);
    }
    100% {
        box-shadow: 0 0 0 0em rgba(239, 68, 68, 0.3), 0 0 0 0.5em rgba(239, 68, 68, 0.3), 0 0 0 1em rgba(239, 68, 68, 0.3), 0 0 0 1em rgba(239, 68, 68, 0);
    }
}